body
{
    background-color: #81848F;
    margin: 0 auto;
    font-weight: bold;

}

#container
{
    border: 2px solid yellow;

    margin: 1% 2%; /* when READY, set "margin: 0 auto;" */

    /*padding-left: 2%;*/
    height: 325px;
    width: 500px;
    position: absolute;
}

#interface
{
    /*margin-left: 5%;
    margin-top: 5%;*/
    /*background: green*/;

    width: 100%;
    height: 49%;
    margin-top: 5px;

    display: flex;
    justify-content: center;

    position:absolute;
    top: 0;

    border: 1px solid white;
}

#interface > *
{
    display: inline-block;
    border: 1px solid black;
}

#buttonL
{
   /* float: left;*/

    margin-right: 5px;
    padding-top: 30px;
    text-align: right;
}

.buttonLi
{
    color: #00C217;
}

#withdrawButton
{
    margin-top: 45px;
}

#screen
{
    /*float: left;*/

    /*position: absolute;*/
    width: 60%;            /*width: 275px;*/
    height: 150px;

    border: 2px solid black;
    background-color: white;

    overflow: auto;
    overflow-y: hidden;
}

#screen input
{
    width: 65px;
    text-align: center;

    font-weight: bold;
    font-size: 12px;

    display: inline-block;
    background: white;
    border: none;
    border-bottom: 2px dotted orange;
    padding-bottom: 0;
}

.main-menus
{
    border: 1px solid red;
    /*margin-bottom: 2px;*/

    /*height: 100%;*/
}

.main-menus * /*, .sub-menus **/
{
    margin: 0;
    padding: 2px;
}

/*.main-menus, .top, .sub-menus, .hints
{
     display: none;
}*/

.sub-menus
{
    margin: 150px 0;
    height: 100%;
}

#main-options
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    padding-top: 15px;
}

#main-options .hints
{
    width: 30%;
    border: 1px solid blue;
    margin: 10px 0;
}

#main-options .hints:not(:nth-child(2n))
{
    margin-right: 25px;
}

#main-options .hints:not(:nth-child(2n+1))
{
    text-align: right;
}

#main-options .hints:nth-child(3), #main-options .hints:last-child
{
    margin-bottom: 20px;
}

#main-options .hints
{
    align-self: baseline;
    /*background: green;*/
}

#buttonR
{
    /*float: left;*/

    margin-left: 5px;
    padding-top: 30px;
}

.buttonRi
{
    color: red;
}

#keyboard-and-slots
{
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    border: 1px solid white;
}

#exitButton
{
    margin-top: 45px;
}

#keyboard
{
    display: inline-block;
    /*float: left;*/
    border: 2px solid red;
    width: 98px;
    height: 130px;
    padding: 1px;
    margin-left: 15px;
}

.numKey
{
    width: 30px;
    height: 22px;
    color: black;
    float:left;
    margin: 1px;
}

#key0
{
    width: 62px;
}

#keyDelete
{
    float: left;

    color: yellow;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

    width: 30px;
    height: 22px;
    margin: 1px;
    padding: 1px 0;
}

#keyOk
{
    color: green;
    float: left;
    margin-top: 10px;
    width: 43px;
}

#keyCancel
{
    width: 50px;
    float: left;
    color: red;
    margin-top: 10px;
    margin-left: 2px;
}

#slots
{
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 50px;
    /*float: left;*/

    /*margin-left: 200px;*/
}

#resetButton
{
    display: inline-block;
    width: 33px; /*50px;*/
    height: 28px; /*45px;*/
    border: 3px solid red;
    border-radius: 50%;
    background: white;
    color: red;
    position: absolute;
    top: 85px;
    left: 400px;
}

#resetButton p
{
    position: absolute;
    top: 7px;
    left: 0;
    margin: 0;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#resetButton:hover
{
    cursor: pointer;
    background: red;
    color: white;
    border-color: white;
    transform: scale(2);
}

#resetButton:focus
{
    outline: none;
}

#cardSlot
{
    width: 75px;
    height: 27px;
    margin-left: 25px;
    margin-top: 1px;
    padding: 2px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 16px;
}

#cardSlot:hover
{
    cursor: pointer;
}

/*#moneySlot
{
    margin-top: 10px;
    background-color: white;
    width: 75px;
    height: 20px;
}

#moneySlot *
{
    width: 98%;
    text-align: center;
}*/

#moneySlot
{
    width: 75px;
    height: 20px;
    border: 2px solid black;
    position: relative;
    top: 10px;
    left: 22px;
    z-index: 2;
    cursor: text;
    display: block;
}
.stripe
{
    position: absolute;
    width: 100%;
    height: 50%;
    background: #005BFF; /* blue; /*#00C217; /*#81848F;*/
    z-index: 1;
    transition: height 250ms ease-in-out;
    /*transition:height 100ms ease-out;*/

    /*opacity: 0.3;*/
}
.stripe:first-of-type
{
    border-bottom: 1px solid green;
    top: 0;
}
.stripe + .stripe
{
    border-top: 1px solid green;
    bottom: 0;
}

#moneySlot.hover-state .stripe, input:focus ~ .stripe {
    height: 0;
    transition: height 500ms ease-in-out;
}

#money
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98%;
    display: block;
    margin: auto;
    z-index: 0;
    text-align: center;
    height: 1.2em;
    /*line-height: 1.2em;*/
    outline: none !important;
    /*border: none;*/
    background: black; /*transparent;*/
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    border: 1px solid green;
}

#money:hover
{
    cursor: pointer;
}

.take-money
{
    /*color: black !important;*/
    /*border: 1px solid white !important;*/
}

.menu
{
    border: 1px solid black;
    width: 60px;
    position: relative;
    z-index: 0;
    /*margin-right: -100px;*/
    /* display: none;*/
}

/* hides every element with this class */
.hide
{
    display: none !important;
}

/* below classes shows elements with various types of display */
.showSingleLine
{
    display: block;
}

.showMultiLine
{
    display: inline-block;
}

.showFlex
{
    display: flex;
}