body
{
    background-color: #81848F;
    margin: 0 auto;
    font-weight: bold;
}

#container
{
    border: 2px solid yellow;
    margin: 10px;
    padding-left: 2%;
    height: 400px;
    width: 500px;
}

#interface
{
    margin-left: 5%;
    margin-top: 5%;
}

#buttonL
{
    float: left;
    margin-right: 5px;
    margin-top: 20px;
    text-align: right;
}

.buttonLi
{
    color: #00C217;
}

#withdrawButton
{
    margin-top: 37px;
}

#screen
{
    float: left;
    border: 2px solid black;
    height: 150px;
    width: 275px;
    background-color: white;
}

#screen input
{
    width: 65px;
    text-align: center;

    font-weight: bold;
    font-size: 12px;

    display: inline-block;
    background: white;
    border: none;
    border-bottom: 2px dotted orange;
    padding-bottom: 0;
}

.main-menus
{
    border: 1px solid red;
    padding-bottom: 2px;
}

.main-menus * /*, .sub-menus **/
{
    margin: 0;
    padding: 2px;
}

/*#pin, #main-menu
{
    display: none;
}*/

.main-menus, .top, .sub-menus, .hints
{
    display: none;
}

/*#insertCard
{
    display: block;
}*/

#buttonR
{
    float: left;
    margin-left: 5px;
    margin-top: 20px;
}

.buttonRi
{
    color: red;
}

#exitButton
{
    margin-top: 37px;
}

#keyboard
{
    float: left;
    border: 2px solid red;
    width: 106px;
    height: 141px;
}

.numKey
{
    color: black;
    float:left;
    margin: 1px;
}

#key0
{
    float: left;
    width: 64px;
}

#keyDelete
{
    float: left;

    color: yellow;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

    width: 32px;
    margin-top: 1px;
    padding: 1px 0;
}

#keyOk
{
    color: green;
    float: left;
    margin-top: 10px;
    width: 40px;
}

#keyCancel
{
    float: left;
    color: red;
    margin-top: 10px;
    margin-left: 5px;

}

#slots
{
    float: left;
    margin-left: 200px;
}

#cardSlot
{
    width: 75px;
    height: 27px;
    margin-top: 1px;
    padding: 2px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 16px;
}

#cardSlot:hover
{
    cursor: pointer;
}

#moneySlot
{
    margin-top: 10px;
    background-color: white;
    width: 100px;
}

.menu
{
    border: 1px solid black;
    width: 60px;
    position: relative;
    z-index: 0;
    /*margin-right: -100px;*/
    /* display: none;*/
}

#depositHint
{
    float: left;
    margin-top: 20px;
    text-align: left;
}

#statusHint
{
    float: right;
    margin-top: 20px;
    text-align: right;
}

#withdrawHint
{
    float: left;
    margin-top: 40px;
    text-align: left;
}

#exitHint
{
    float: right;
    margin-top: 40px;
    text-align: right;
}